{% extends 'alev/baze.html' %}

{% block title %}
{{ title }}
{% endblock %}

<div class="modal-body">
    <form class="callForm callForm1" id="callForm" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.name_form }}
        {{ form.tel_form }}
        <div class="modal-footer">
               <button class="btn-send">Заказать звонок</button>
        </div>

    </form>
    </div>
{% block modal  %}
<div class="modal-body">
    <form class="callForm callForm1" id="callForm" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.name_form }}
        {{ form.tel_form }}
        <div class="modal-footer">
               <button class="btn-send">Заказать звонок</button>
        </div>

    </form>
    </div>
{% endblock %}

{% block content %}

<div class="page_h1">
<h1 class="page_rem">О нас</h1>
</div>

<div class="container-xxl">

<p class="about">
    Наша компания - профессионалы в области ремонта и строительства, предоставляющие высококачественные услуги с 2019 года. Мы предлагаем широкий спектр услуг по ремонту квартир, офисов и коммерческих помещений.
Наша команда состоит из опытных специалистов, которые прошли обучение и имеют все необходимые навыки для проведения
качественного ремонта. Мы используем только современное оборудование и материалы высокого качества, чтобы обеспечить долговечность и безупречный внешний вид ремонтированных объектов.
Мы готовы воплотить в жизнь любые дизайнерские и технические идеи наших клиентов.Наша цель - создать уютное и функциональное пространство для наших клиентов, где они могут чувствовать себя комфортно и уютно.
Обратившись к нам, Вы можете быть уверены в качестве и надежности наших услуг.
</p>
</div>

{% endblock %}